# the build
build
dist

# temp nibs and swap files
*~.nib
*.swp
*.back

# OS X folder attributes
.DS_Store
profile
.Spotlight-V100
.VolumeIcon.icns

# user-specific XCode stuff
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.orig
*.xccheckout
xcuserdata

# Pods
Pods/
Podfile.lock

